@model IEnumerable<DemoCRUD.Models.Livro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" ></span> Novo Livro</a>
   @* @Html.ActionLink("Create New", "Create")*@
</p>

@*Html.Action("Listagem")*@

    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only">Titulo</label>
            <input type="text" class="form-control" name="Titulo" placeholder="Titulo">
        </div>
        <div class="form-group">
            <label class="sr-only">Autor</label>
            <input type="text" class="form-control" name="Autor" placeholder="Autor">
        </div>
        <div class="form-group">
            <label class="sr-only">Ano Edição</label>
            <input type="text" class="form-control" name="AnoEdicao" placeholder="Ano Edicao">
        </div>
        <div class="form-group">
            <label class="sr-only">Valor</label>
            <input type="text" class="form-control" name="Valor" placeholder="Valor">
        </div>
        <button class="btn btn-primary" id="btnPesquisar">Filtrar</button>

        <input type="hidden" name="pagina" value="1"/>
        <input type="hidden" name="registos" value="5" />
    </form>




<div id="ListagemdeLivros"></div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(configurarControles);

        function configurarControles()
        {
            $("#btnPesquisar").click(listarLivros());
            listarLivros();

        }



        function paginar(valor)
        {
            var elementoPagina = $("input[name='pagina']");
            var paginaAtual = parseInt(elementoPagina.val());

            elementoPagina.val(paginaAtual + valor);


            listarLivros();

          
        }

        function listarLivros()
        {
            $("#ListagemdeLivros").load("@Url.Action("Listagem")", $("form").serialize());

        }
    </script>
    } 